.section-1-heading {
  font-size: 30rem;
  text-transform: uppercase;
  letter-spacing: 6rem;

  span {
    color: $color-white;
    font-weight: 600;
    opacity: 0.8;
    position: relative;
    display: inline-block;

    &:nth-child(odd) {
      transform: rotateZ(20deg);
      border-bottom: 0.5rem solid $color-red;
    }

    &:nth-child(even) {
      transform: rotateZ(-20deg);
      border-bottom: 0.5rem solid $color-orange;
    }

    &::before {
      @extend %before-after;
      transform: translate(-0.5rem, -0.5rem);
    }

    &:hover::before {
      transform: translate(-1rem, -1rem);
    }

    &:nth-child(odd)::before {
      color: $color-orange;
    }

    &:nth-child(even)::before {
      color: $color-red;
    }

    &::after {
      @extend %before-after;
      transform: translate(0.5rem, 0.5rem);
      z-index: -1;
    }

    &:hover::after {
      transform: translate(1rem, 1rem);
    }

    &:nth-child(odd)::after {
      color: $color-red;
    }

    &:nth-child(even)::after {
      color: $color-orange;
    }
  }
}

.section-heading {
  font-size: 9rem;
  font-weight: 700;
  color: $color-orange;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  margin: 5rem 0 10rem 0;
}

.card {
  height: 40rem;
  width: 30rem;
  background-color: $color-orange;
  @include flexLayout(space-around);
  flex-direction: column;
  box-shadow: 0.5rem 0.5rem 0 $color-white;
  position: relative;

  &-heading {
    font-size: 3rem;
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

  &-img {
    width: 25rem;
  }

  &-btn {
    @include flexLayout();
    flex-direction: column;
    position: absolute;
    left: -2.5rem;
    padding: 1rem 0;
    background-color: $color-white;
    width: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 0.2rem solid $color-orange;
    border-right: none;
    border-radius: 0.5rem 0 0 0.5rem;
    cursor: pointer;

    span {
      color: $color-red;
    }
  }

  .circle {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: transparentize($color-white, 0.3);
    // background-color: rgba($color-white, 0.3); // same as above
    position: absolute;
    top: 0;
    right: 0;
    border: 0.3rem solid $color-cyan;

    &-content {
      width: 100%;
      height: 100%;
      @include flexLayout(space-evenly);
      flex-direction: column;
      visibility: hidden;
      opacity: 0;
    }

    &-heading {
      color: $color-red;
      font-size: 1.8rem;
    }

    &-paragraph {
      color: $color-gray;
      font-size: 1.6rem;
      padding: 2rem;
    }

    &-btn {
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      padding: 0.5rem 1rem;
      color: $color-red;
      border: 0.2rem solid $color-cyan;
    }
  }
}
