.section-1 {
  height: 100vh;
  background: linear-gradient(rgba($color-dark, 0.5), rgba($color-dark, 0.4)),
    url(../images/bg.jpg) center no-repeat;
  background-size: cover;
  @include flexLayout();
}

.section-2 {
  height: 100vh;
  background-color: $color-red;
  @include flexLayout(space-between);
  flex-direction: column;
  padding: 5rem 0 15rem 0;
}

.cards-wrapper {
  width: 100%;
  @include flexLayout(space-evenly);
}
